/* CSS Document */


#infoPanel{
    border-style: solid;
    border-color: #3A3335;
    background-color: #EFF1F3;
}

#gamePanel{
    font-size: 30px;
    border-style: solid;
    border-color: #3A3335;
    background-color: #ACBDBA;
}



#timerDiv{
    font-size: 30px;
    text-align: center;
}

#qElem{
    
}

#answerOne{
    
}